streamlit==1.21.0  # Streamlit supports Python 3.12
sentence-transformers==2.2.2  # Sentence Transformers supports Python 3.12
pdfplumber==0.8.0  # pdfplumber supports Python 3.12
torch==2.3.1  # torch 2.0.1 is not available for Python 3.12; torch 2.3.1 should work